@import url("reset.css");
@import url("global.css");

nav ol {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 1em;
}

.overlay {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background-color: #fff;
  opacity: 1;

  &.loading {
    opacity: 0.5;
    pointer-events: none;
  }
}
