@import url("reset.css");
@import url("global.css");

/* TODO: Переписать на соврменный синтаксис (нативный нестинг) или добавить препроцессор */
nav ol {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 1em;
}

nav a {
  display: block;
  padding: 0 4px;
  border-radius: 4px;
}

nav a.active {
  background-color: rgba(25, 118, 210, 0.1);
}

.overlay {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background-color: #fff;
  opacity: 1;
}

.overlay.loading {
  opacity: 0.5;
  pointer-events: none;
}
